# [submodule "PythonLeetcodeRunner"]
# 	path = PythonLeetcodeRunner
# 	url = git@github.com:hhqx/RunLeetcodeInLocal.git
[submodule "git-learn"]
	path = git-learn
	url = git@github.com:hhqx/git-learn.git
